# pluma.cfg
#
# This is the main pluma configuration file.  It contains the configuration
# directives that give the application it's instructions.

# LDAP server and connection information
$ldap.Server:           "ldap.company.com"
$ldap.SSL:              "1"
$ldap.Base:             "dc=company,dc=com"
$ldap.Base.User:        "ou=People,$ldap.Base"
$ldap.Base.Host:        "ou=Hosts,$ldap.Base"
$ldap.Base.Group:       "ou=Groups,$ldap.Base"

# Needs read/write ACLs to ldap.Base.User, .Host, and .Group
$auth.BindDN:           "uid=pluma,$ldap.Base.User"
$auth.Password:         "plum4p455w0rd!"

# Configurable user options
@shells:                "/bin/bash /bin/false /bin/ksh"

# New user defaults
$default.GID:           "100"
$default.Shell:         "/bin/false"
$prefix.Home:           "/home"
$mail.Format:           "%uid@company.com"
$user.POSIX:            "1"
# @user.objectClass:    "companyDotComUser"

# Password encryption method; valid options: "crypt", "sha", or "ssha"
$pw.Encrypt:            "crypt"

# Apache user needs read/write access to the audit log
$audit.log:             "/var/log/httpd/pluma-audit_log"

# LDAP internal limits
$fetch.Limit.Size:      "1000"
$fetch.Limit.Time:      "30"

